*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;

}

body{
    background-color: rgb(198, 162, 162);
    
}

// body {
//   cursor: none;
// }

.cursor {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 9999;

  &__dot,
  &__ring {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    will-change: transform;
    pointer-events: none;
  }

  &__dot {
    width: 8px;
    height: 8px;
    background: #000;
    border-radius: 50%;
    z-index: 2;
  }

  &__ring {
    width: 35px;
    height: 35px;
    border: 2px solid #000;
    border-radius: 50%;
    z-index: 1;
    transition: transform 0.2s ease;
  }

  // Optional hover effect class
  &--hover {
    .cursor__ring {
      transform: translate(-50%, -50%) scale(1.6);
    }
  }
}
